<%- include('header') -%>
<div class="container">
  <div class="sub-container">
    <h1 class="header" style="color: white">Extra Results</h1>
    <div class="parameters-box">
      <div class="extra-results"><%- htmlDisplay(textStringText) %></div>
    </div>
  </div>
</div>
<%- include('footer') -%>
